<app-header></app-header>

<div>
    <header class=" py-5">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner active">
                <div class="carousel-item active">
                    <img height="300px"
                        src="https://image.freepik.com/free-vector/online-shopping-banner-template_23-2148705280.jpg"
                        class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img height="300px"
                        src="https://static.vecteezy.com/system/resources/previews/000/662/994/original/vector-colorful-fashion-sale-banner.jpg"
                        class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img height="300px"
                        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/online-shopping-banner-template-design-4becd222cad3ce1511f32e5cd53a7dd5_screen.jpg?ts=1624524001"
                        class="d-block w-100" alt="banner">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>

    <!-- section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div *ngFor="let product of allProducts" class="col mb-5">
                    <div class="card h-100 p-1">
                        <!-- Product image-->
                        <img height="200px" routerLink="/{{product.id}}/view" style="cursor: pointer;" class="card-img-top" [src]="product.image" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{product.title.slice(0,20)}}...</h5>
                                <!-- Product price-->
                                ${{product.price}} 
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="d-flex justify-content-around">
                            <button (click)="addToWishlist(product)" class="btn"><i class="fa-solid fa-heart text-danger"></i></button>
                            <button (click)="addToCart(product)" class="btn"><i class="fa-solid fa-cart-plus text-success"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>