<app-header></app-header>
<div style="height: 100vh;" class="w-100 d-flex flex-column justify-content-center align-items-center">
<div class="row border shadow rounded w-75">
    <div class="col-lg-6">
        <img class="img-fluid" src="https://cdni.iconscout.com/illustration/premium/thumb/task-registration-2081679-1756042.png" alt="">
    </div>
    <div class="col-lg-6">
        <div style="height: 100%;" class="w-100 d-flex align-items-center justify-content-center flex-column">
        <h4>Welcome User!!!</h4>
        <form (ngSubmit)="register()" [formGroup]="registerForm" class="mt-3 container w-100">

            <div class="form-floating mb-3 ">
                <input class="form-control" type="text" name="username" formControlName="username" id="floatingUsername" placeholder="Username">
                <label for="floatingUsername">Username</label>
            </div>
            <div *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="fw-bolder text-danger mb-3">Invalid username</div>
            <div class="form-floating mb-3">
                <input class="form-control" type="email" name="email" formControlName="email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email Address</label>
            </div>
            <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="fw-bolder text-danger mb-3">Invalid email</div>
            <div class="form-floating ">
                <input class="form-control" type="password" name="password" formControlName="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="fw-bolder text-danger mb-3">Invalid password</div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <p>Already a User? Click here to <a routerLink="/login">Login</a></p>
        </div>
    </div>
</div>
</div>